.Bonus{
    text-align: center;
}

.Bonus h1{
    font-size: 40px;
    color: rgb(209, 14, 14);
}

.Bonus ul{
    margin-top: 50px;
}

.Bonus li{
    text-align: left;
    font-size: 20px;
    margin-left: 25%;
}

.Bonus p{
    font-size: 22px;
    margin-bottom: 50px;
}    